/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

@media(max-width:768px){
  .top .react-reveal,.react-reveal.bottom p,
  .react-reveal span,.react-reveal .item-inner,
  h2 .react-reveal, h2 .react-reveal span,
  .imgs .react-reveal, .react-reveal h4,
  .react-reveal .links, .react-reveal h3,
  .react-reveal .MuiFormControl-root,
  .react-reveal button, .react-reveal.last,
  .react-reveal p{
  animation:unset !important;
}
}

.App {
  font-family: 'Helvetica', saserifns-;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* table selection */
.no-select {
  user-select: none;
  
}

.modal2 {
  max-height: 10px; /* Set your desired maximum height */
  overflow-y: auto;  /* Enable vertical scrolling */
  background-color: aquamarine;
}

.table {
  @apply text-black;
}
